* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.home {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1rem;
}
.home-arrow {
  position: relative;
  top: -2px;
  width: 10px;
  overflow: hidden;
  font-size: 1.25rem;
}
.home-url,
.home-url:visited {
  margin-left: 5px;
  color: black;
  text-transform: uppercase;
  text-decoration-line: none;
}

.wrapper {
  display: flex;

  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: border-box;
}
.quiz-container {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.chart-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.chart-bars {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.chart-legends {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  width: 300px;
  justify-content: space-around;

  transition: visibility 1s ease-in-out 1s;
}
.chart-letter {
  text-align: center;
  width: 50px;
}
#topBar {
  font-size: 2rem;
  text-align: center;
}
.bar {
  background-color: blueviolet;
  border-radius: 8px;
  width: 50px;
  max-height: 5px;
  transition: max-height 0.5s ease-in 1s;
}
#bar-vis {
  background-image: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
}
#bar-str {
  background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
}
#bar-enhance {
  background-image: linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
}
#bar-protect {
  background-image: linear-gradient(to bottom, #f093fb 0%, #f5576c 100%);
}
#bar-promote {
  background-image: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);
}
.button-container {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
}
.button {
  margin: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  transform: scale(1);
  transition: transform 0.1s ease-in;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  transform: scale(1.1);
}
.button:focus {
  outline: 0;
}

.qst-container {
  text-align: center;
  min-height: 165px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.qst-title {
  text-transform: uppercase;

  font-weight: 500;
  font-size: 1rem;
}
.qst-content {
  margin: auto 0;
  font-weight: 300;
  font-size: 3rem;
}

.quiz-finish {
  font-size: 3rem;
  font-weight: 400;
}

@media (max-width: 480px) {
  .qst-container {
    margin: auto;
    min-height: 380px;
    max-width: 95%;
  }
  .button-container {
    padding-bottom: 20px;
  }
}
